force-app/main/default/flows/Assign_Lead_Owner_based_on_Zip_Code_Territory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>If no User record is found (no user has been assigned to the territory), the Lead Owner will not be reassigned.</description>
        <name>DCN_User_Found</name>
        <label>DCN User Found?</label>
        <locationX>761</locationX>
        <locationY>212</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Owner</targetReference>
            </connector>
            <label>User Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>If  not found Lead Owner will not be reassigned.</description>
        <name>DCN_Zip_Found</name>
        <label>DCN Zip Found?</label>
        <locationX>401</locationX>
        <locationY>210</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zip_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varZipCodeTerritoryRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User</targetReference>
            </connector>
            <label>Zip Found</label>
        </rules>
    </decisions>
    <description>4/27/2020 RC: updated to only bring back active users</description>
    <formulas>
        <name>forLeadZipFirst5</name>
        <dataType>String</dataType>
        <expression>LEFT({!varLeadRecord.PostalCode}, 5)</expression>
    </formulas>
    <interviewLabel>Assign Lead Owner based on Zip Code Territory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Lead Owner based on Zip Code Territory</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>603</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DCN_User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varZipCodeTerritoryRecord.Territory__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varManagerEmail</assignToReference>
            <field>Manager_Email__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Zip_Code_Territory</name>
        <label>Get Zip Code Territory</label>
        <locationX>248</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DCN_Zip_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forLeadZipFirst5</elementReference>
            </value>
        </filters>
        <object>Zip_Code_Territory_Crosswalk__c</object>
        <outputReference>varZipCodeTerritoryRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Territory__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Owner</name>
        <label>Update Lead Owner</label>
        <locationX>1008</locationX>
        <locationY>208</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Managers_Email__c</field>
            <value>
                <elementReference>varManagerEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Zip_Code_Territory</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varLeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varManagerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varZipCodeTerritoryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zip_Code_Territory_Crosswalk__c</objectType>
    </variables>
</Flow>
