force-app/main/default/flows/Create_Activation_Workflow_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Act_WF_Case_Fields</name>
        <label>Assign Act WF Case Fields</label>
        <locationX>900</locationX>
        <locationY>186</locationY>
        <assignmentItems>
            <assignToReference>NewActivationWFCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivationWFCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivationWFCase.Case_Reason_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Reason.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivationWFCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activation Workflow Case</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivationWFCase.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivationWFCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Workflow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivationWFCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivationWFCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.Patient_Contact_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivationWFCase.Case_Record_Type_Picklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activation Workflow Case</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivationWFCase.Initial_Estimated_Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnrollmentSubmittedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivationWFCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.Activation_Workflow_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_In_PCQ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Disable_Auto_Dialer</name>
        <label>Disable Auto-Dialer</label>
        <locationX>1143</locationX>
        <locationY>381</locationY>
        <assignmentItems>
            <assignToReference>NewActivationWFCase.Activation_AD_Enabled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Activation_Workflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enable_Auto_Dialer</name>
        <label>Enable Auto-Dialer</label>
        <locationX>970</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>NewActivationWFCase.Activation_AD_Enabled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Activation_Workflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Related_Act_WF_to_Order</name>
        <label>Related Act WF to Order</label>
        <locationX>925</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>Get_Order.Activation_Workflow_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewActivationWFCase.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AWFC_Already_Exists</name>
        <label>AWFC Already Exists?</label>
        <locationX>296</locationX>
        <locationY>199</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_AWFC_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order.Activation_Workflow_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type</targetReference>
            </connector>
            <label>No AWFC Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_In_PCQ</name>
        <label>Order In PCQ?</label>
        <locationX>1045</locationX>
        <locationY>190</locationY>
        <defaultConnector>
            <targetReference>Disable_Auto_Dialer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>In PCQ</defaultConnectorLabel>
        <rules>
            <name>Not_In_PCQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order.In_Practice_Call_Queue_checkbox__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enable_Auto_Dialer</targetReference>
            </connector>
            <label>Not In PCQ</label>
        </rules>
    </decisions>
    <description>9/11/21 RC: TROUBLESHOOTING with Enrollment Submitted Date flow formula -- Update Assign ActWF Case Fields to set AWFC Initial Estimated Delivery Date to new Order.Enrollment Submitted DATE formula field to address date/time conversion issues we have when using Order.Enrollment Submitted Date/Time.</description>
    <formulas>
        <name>EnrollmentSubmittedDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Get_Order.Visit_Date__c})</expression>
    </formulas>
    <interviewLabel>Create Activation Workflow Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Activation Workflow Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Activation_Workflow</name>
        <label>Create Activation Workflow</label>
        <locationX>1052</locationX>
        <locationY>548</locationY>
        <connector>
            <targetReference>Related_Act_WF_to_Order</targetReference>
        </connector>
        <inputReference>NewActivationWFCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Reason</name>
        <label>Get Case Reason</label>
        <locationX>768</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Act_WF_Case_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activation Workflow</stringValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Case_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activation Workflow Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Reason_Lookup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>176</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AWFC_Already_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>622</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Reason</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activation_Workflow</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>492</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activation_Workflow_Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>816</locationX>
        <locationY>547</locationY>
        <inputReference>Get_Order</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>NewActivationWFCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
