force-app/main/default/flows/New_Case_Clinical_Notifications_Holter_Guest_Profile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>EMAIL</name>
        <label>EMAIL</label>
        <locationX>450</locationX>
        <locationY>239</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SCR_Confirm_Case_Created</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>txtEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SIF_Clinical_Technician_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apexPluginCalls>
        <name>Lookup_Enrollment_Order</name>
        <label>Lookup Enrollment Order</label>
        <locationX>363</locationX>
        <locationY>121</locationY>
        <apexClass>EnrollmentOrderLookupPlugin</apexClass>
        <connector>
            <targetReference>SCR_Confirm_Case_Info</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SCR_No_Enrollment_Found</targetReference>
        </faultConnector>
        <inputParameters>
            <name>enrollmentNumber</name>
            <value>
                <elementReference>SIF_Enrollment_Number</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varOrderId</assignToReference>
            <name>orderId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varAccountId</assignToReference>
            <name>accountId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varAccountName</assignToReference>
            <name>accountName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varPatientContactId</assignToReference>
            <name>patientContactId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varPatientFirstName</assignToReference>
            <name>patientFirstName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varPatientLastName</assignToReference>
            <name>pastientLastName</name>
        </outputParameters>
    </apexPluginCalls>
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>conCaseReasonCaseRecordTypeName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Clinical</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOutgoingCaseInteractionType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Outgoing</stringValue>
        </value>
    </constants>
    <description>3/31/2020 RC: fixed case reason lookup -- was looking up based on Clinical Case Record Type id instead of the text &quot;Clinical&quot; used in the record type column of the Case Reason Lookup table</description>
    <dynamicChoiceSets>
        <name>pcSubject</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CN_Holter_Subject_Picklist__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>forClinicalNotificationHolterCaseRecordType</name>
        <dataType>String</dataType>
        <expression>{!$Label.Clinical_Notifications_Holter_Rec_Type_Id}</expression>
    </formulas>
    <formulas>
        <name>forClinicalNotificationHolterQueueId</name>
        <dataType>String</dataType>
        <expression>{!$Label.Clinical_Notifications_Holter_Queue_Id}</expression>
    </formulas>
    <formulas>
        <name>forTODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>New Case - Clinical Notifications Holter Guest Profile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clinical Notifications - Holter Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>RC_Case</name>
        <label>RC Case</label>
        <locationX>318</locationX>
        <locationY>313</locationY>
        <assignRecordIdToReference>varCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>EMAIL</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Reason_Lookup__c</field>
            <value>
                <elementReference>varCaseReasonId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clinical_Notif_Holter_Technician_Email__c</field>
            <value>
                <elementReference>SIF_Clinical_Technician_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SIF_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Number__c</field>
            <value>
                <elementReference>SIF_Enrollment_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Holter_File_Number__c</field>
            <value>
                <elementReference>SIF_Holter_File_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>forClinicalNotificationHolterQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>forClinicalNotificationHolterCaseRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Report_Upload_Date__c</field>
            <value>
                <elementReference>SIF_Report_Upload_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>txtCaseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>RLK_Case_Reason</name>
        <label>RLK Case Reason</label>
        <locationX>178</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RC_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Case_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conCaseReasonCaseRecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Interaction_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conOutgoingCaseInteractionType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SCF_Subject</elementReference>
            </value>
        </filters>
        <object>Case_Reason_Lookup__c</object>
        <outputAssignments>
            <assignToReference>varCaseReasonId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>SCR_Confirm_Case_Created</name>
        <label>SCR Confirm Case Created</label>
        <locationX>584</locationX>
        <locationY>239</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SOF_Confirm_Case_Info_0</name>
            <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px;&quot;&gt;Case Successfully Created for&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px;&quot;&gt;:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Enrollment Number: &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;{!SIF_Enrollment_Number}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Account Name: &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;{!varAccountName}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Patient Name: &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;{!varPatientFirstName} {!varPatientLastName}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Report Upload Date: &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;{!SIF_Report_Upload_Date}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Subject: &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;{!SCF_Subject}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Description: &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;{!SIF_Description}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Holter File Number: &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!SIF_Holter_File_Number}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(255, 255, 255); font-family: sans-serif; font-size: 12px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(255, 255, 255); font-family: sans-serif; font-size: 12px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px;&quot;&gt;A Confirmation Email has been sent to: &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt; &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px;&quot;&gt;{!SIF_Clinical_Technician_Email}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_Confirm_Case_Info</name>
        <label>SCR Confirm Case Info</label>
        <locationX>554</locationX>
        <locationY>124</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RLK_Case_Reason</targetReference>
        </connector>
        <fields>
            <name>SOF_Confirm_Case_Info</name>
            <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px;&quot;&gt;Confirm Case Information&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px;&quot;&gt;:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Enrollment Number: &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;{!SIF_Enrollment_Number}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Account Name: &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;{!varAccountName}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Patient Name: &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;{!varPatientFirstName} {!varPatientLastName}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Report Upload Date: &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;{!SIF_Report_Upload_Date}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Subject: &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;{!SCF_Subject}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Description: &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;{!SIF_Description}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Clinical Technicial Email: &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;{!SIF_Clinical_Technician_Email}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Holter File Number: &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!SIF_Holter_File_Number}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(255, 255, 255); font-family: sans-serif; font-size: 16px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(255, 255, 255); font-family: sans-serif; font-size: 16px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px;&quot;&gt;Click &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px;&quot;&gt;&quot;Previous&quot; to  Edit.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(255, 255, 255); font-family: sans-serif; font-size: 16px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px;&quot;&gt;Click &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px;&quot;&gt;&quot;Next&quot; to Create Case&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_New_Case</name>
        <label>SCR New Case</label>
        <locationX>179</locationX>
        <locationY>121</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Lookup_Enrollment_Order</targetReference>
        </connector>
        <fields>
            <name>SIF_Enrollment_Number</name>
            <dataType>String</dataType>
            <fieldText>Enrollment Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SIF_Report_Upload_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>forTODAY</elementReference>
            </defaultValue>
            <fieldText>Report Upload Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SCF_Subject</name>
            <choiceReferences>pcSubject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SIF_Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Description must be less than 32,000 characters.</errorMessage>
                <formulaExpression>Len({!SIF_Description}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>SIF_Clinical_Technician_Email</name>
            <dataType>String</dataType>
            <fieldText>Clinical Technician Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Invalid email address. Please re-enter Email.</errorMessage>
                <formulaExpression>REGEX({!SIF_Clinical_Technician_Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;) &amp;&amp; LEN({!SIF_Clinical_Technician_Email}) &lt;= 50</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>SIF_Holter_File_Number</name>
            <dataType>String</dataType>
            <fieldText>Holter File Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Optional Field: Holter File Number must be 10 characters and is not always applicable. (Example: &lt;/span&gt;&lt;span style=&quot;color: rgb(51, 51, 51); font-family: Helvetica, sans-serif; font-size: 10.5pt;&quot;&gt;PCPZ4TO3OD)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>Len({!SIF_Holter_File_Number}) = 10</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_No_Enrollment_Found</name>
        <label>SCR No Enrollment Found</label>
        <locationX>282</locationX>
        <locationY>20</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SCR_New_Case</targetReference>
        </connector>
        <fields>
            <name>SOFNoEnrollmentFound</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Enrollment Number &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!SIF_Enrollment_Number}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;NOT FOUND&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;.&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Click &lt;B&gt;&amp;quot;Previous&amp;quot;&lt;/B&gt; to update Enrollment Number.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Click &lt;B&gt;&amp;quot;Next&amp;quot;&lt;/B&gt; to start over with a blank form.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SCR_New_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txtCaseSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!SCF_Subject} - Report Uploaded {!SIF_Report_Upload_Date}</text>
    </textTemplates>
    <textTemplates>
        <name>txtEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Case Successfully Created for Enrollment Number: {!SIF_Enrollment_Number}
{!SCF_Subject} - Report Uploaded {!SIF_Report_Upload_Date}</text>
    </textTemplates>
    <textTemplates>
        <name>txtEmailSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Confirmation: {!SCF_Subject} Case Created for {!SIF_Enrollment_Number}</text>
    </textTemplates>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCaseReasonId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varPatientContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varPatientFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varPatientLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
