force-app/main/default/flows/Update_Clinical_Notification_Holter_Case_Lookup_Fields_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>conCaseRecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120H000001J7GsQAK</stringValue>
        </value>
    </constants>
    <description>Called by Process Builder on record create to update lookup fields not otherwise accessible by guest user profile</description>
    <formulas>
        <name>forTODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Update Clinical Notification - Holter Case Lookup Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Clinical Notification - Holter Case Lookup Fields</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>RLK_Case</name>
        <label>RLK Case</label>
        <locationX>163</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RLK_Enrollment_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varEnrollmentNumber</assignToReference>
            <field>Enrollment_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RLK_Enrollment_Order</name>
        <label>RLK Enrollment Order</label>
        <locationX>309</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RUP_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enrollment_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEnrollmentNumber</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOrderId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPatientContactId</assignToReference>
            <field>Patient_Contact_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>RUP_Case</name>
        <label>RUP Case</label>
        <locationX>447</locationX>
        <locationY>42</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varPatientContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>varOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>RLK_Case</startElementReference>
    <status>Active</status>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varEnrollmentNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varPatientContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
